@import "src/@fuse/scss/fuse";

h3 {
    margin: 10px 0px 10px 0px;
    // border: 1px solid black;
}

.content {
}

.accent {
    margin: 0px 30px 0px 30px;    
}

.header {
    padding: 0px 10px 0px 40px;
}

.header-table {
    background-color: lightblue;
    text-align: center;
    //padding: 5px 0px, 5px 0px;
    margin: 0px 30px 0px 30px;    
}

.content-table {
    margin: 0px 30px 0px 30px;    
    padding: 5px 0px 5px 0px;    
}

.summary-table {
    background-color: lightblue;
    margin: 0px 30px 0px 30px;    
    padding: 5px 0px 5px 0px;
}

.display-sales {
    text-align: right;
    padding-right: 20px;
}

.button {
    margin: 10px 30px 10px 30px;
}