<p mat-dialog-title class="text-center">
  กรุณาระบุรถและวันที่เดินทาง
</p>

<div mat-dialog-content>

  <mat-form-field class="full-wsize">
    <mat-label>เลือกวันเดินทาง</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.docdate" [disabled]="data.docno !== ''">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="full-wsize">
    <mat-label>เลือกรถ</mat-label>
    <mat-select [(value)]="data.carNo">
      <mat-option *ngFor="let car of cars" [value]="car.carNo">
        {{car.carNo}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">ย้อนกลับ</button>
  <button mat-button (click)="onConfirm()" [disabled]="!data.docdate">ดำเนินการต่อ</button>
</div>