<div class="page-layout carded  fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">
        <button class="mat-icon-button mr-0 mr-sm-16" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="logo-icon s-32 mr-16" [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }">
            edit
          </mat-icon>
          <span class="logo-text h1" [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">
            involvedpartyForm
          </span>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="40" class="pl-20  pr-16" fxLayoutAlign="end">
          <button [disabled]="involvedpartyForm.invalid" mat-fab color="warn" (click)="onSave()">
            <mat-icon class="icon-position">save</mat-icon>
          </button>
        </div>
      </div>
      <!-- / APP TITLE -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">
      <!-- CONTENT -->
      <div class="content">
        <mat-tab-group fxFlex>
          <mat-tab label="involvedparty">
            <form [formGroup]="involvedpartyForm">

              <div fxLayout="column" fxLayout.gt-xs="row wrap" fxFlex="100">

                <div fxLayout="row wrap" formGroupName="personalInfo" fxFlex="100">
                  <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="25" class="pl-20 pr-16">
                    <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                      <mat-label>คำนำหน้าชื่อ</mat-label>
                      <input matInput formControlName="title" name="title">
                    </mat-form-field>
                  </div>
                  <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="37.5" class="pl-20 pr-16">
                    <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                      <mat-label>ชื่อ</mat-label>
                      <input matInput formControlName="firstName" name="firstName">
                    </mat-form-field>
                  </div>
                  <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="37.5" class="pl-20 pr-16">
                    <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                      <mat-label>นามสกุล</mat-label>
                      <input matInput formControlName="lastName" name="lastName">
                    </mat-form-field>
                  </div>
                </div>

                <div fxLayout="row wrap" formGroupName="personalInfo" fxFlex="100">
                  <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
                    <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                      <mat-label>เลขที่บัตรประชาชน (เพื่อตรวจสอบว่าเป็นผู้ถือหุ้น หรือ ไม่)</mat-label>
                      <input matInput formControlName="citizenId" name="citizenId">
                    </mat-form-field>
                  </div>
                </div>

                <div fxLayout="row wrap" formArrayName="directContact"
                  *ngFor="let item of involvedpartyForm.get('directContact').controls; let i = index;"
                  fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="33.3" class="pl-20 pr-16">
                  <mat-form-field class="example-full-width" [formGroupName]="i" appearance="outline" fxFlex>
                    <!-- <mat-label>{{item.value.method}}</mat-label> -->
                    <mat-label *ngIf="item.value.method==='mobile'">เบอร์มือถือ</mat-label>
                    <mat-label *ngIf="item.value.method==='home'">เบอร์บ้าน</mat-label>
                    <mat-label *ngIf="item.value.method==='other'">เบอร์อื่น ๆ</mat-label>
                    <input matInput formControlName="value">
                  </mat-form-field>
                  <!-- {{item.value.method | json}} -->
                </div>


                <div fxLayout="row wrap" formGroupName="contactAddress" fxFlex="100">
                  <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="25" class="pl-20 pr-16">
                    <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                      <mat-label>ที่อยู่ปัจจุบันเลขที่</mat-label>
                      <input matInput formControlName="addressLine1" name="addressLine1">
                    </mat-form-field>
                  </div>
                  <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="25" class="pl-20 pr-16">
                    <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                      <mat-label>ถนน</mat-label>
                      <input matInput formControlName="addressStreet" name="addressStreet">
                    </mat-form-field>
                  </div>
                  <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="25" class="pl-20 pr-16">
                    <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                      <mat-label>ตำบล/แขวง</mat-label>
                      <input matInput formControlName="addressSubDistrict" name="addressSubDistrict">
                    </mat-form-field>
                  </div>
                  <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="25" class="pl-20 pr-16">
                    <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                      <mat-label>อำเภอ/เขต</mat-label>
                      <input matInput formControlName="addressDistrict" name="addressDistrict">
                    </mat-form-field>
                  </div>
                </div>

                <div fxLayout="row wrap" formGroupName="contactAddress" fxFlex="100">
                  <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="25" class="pl-20 pr-16">
                    <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                      <mat-label>จังหวัด</mat-label>
                      <input matInput formControlName="addressProvince" name="addressProvince">
                    </mat-form-field>
                  </div>
                  <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="25" class="pl-20 pr-16">
                    <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                      <mat-label>รหัสไปรษณี</mat-label>
                      <input matInput formControlName="addressPostalCode" name="addressPostalCode">
                    </mat-form-field>
                  </div>
                </div>

                <!-- {{involvedpartyForm.value | json}} -->

              </div>
            </form>
          </mat-tab>

        </mat-tab-group>
        <!--  -->
      </div>
      <!-- /CONTENT -->
    </div>
    <!-- /CONTENT CARD -->
  </div>
  <!-- /CENTER -->
</div>