<div class="page-layout carded  fullwidth inner-scroll">
  <div class="content">
    <mat-sidenav-container class="full-d-hsize">

      <mat-sidenav class="sidenav-side" mode="side" [(opened)]="sideNaveOpened">

        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="20">
            <button class="mat-icon-button mr-0 mr-sm-16" (click)="goBack()">
              <mat-icon>arrow_back</mat-icon>
            </button>
          </div>

          <div class="logo mb-24 mb-md-0" fxFlex="50" fxLayoutAlign="start center">
            <mat-icon class="logo-icon s-32 mr-16" [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }">
              view_list
            </mat-icon>
            <span class="logo-text h3" [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">
              รายชื่อสมาชิก
            </span>
          </div>
          <div fxFlex="30">
            <button class="full-wsize" mat-raised-button color="warn" (click)="onSave()"
              [disabled]="!orderData.docdate">บันทึก</button>
          </div>
        </div>

        เว้นไว้เพื่อลิส

      </mat-sidenav>

      <mat-sidenav-content>
        <agm-map class="map-size" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
          [zoomControl]="false">

          <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
            [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable">
          </agm-marker>

        </agm-map>
      </mat-sidenav-content>

    </mat-sidenav-container>
  </div>
</div>