.content .mat-tab-label {
  height: 64px;
}

.map-size {
  height: 100vh;
}

.full-wsize {
  width: 100%;
}

.full-d-hsize {
  height: 100vh;
}

.sidenav-side {
  width: 30vw;
}

.list-bg {
  background-color: #f4f4f4;
  cursor: pointer;
}

.list-item {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}