.content .mat-tab-label {
  height: 64px;
}

.full-d-hsize {
  height: 100vh;
}

.sidenav-side {
  width: 30vw;
}

.btn-sort-contain {
  display: flex;
  justify-content: center;

  .btn-size {
    font-size: 40px;
    display: flex;
    justify-content: center;
  }
}

.full-wsize {
  width: 100%;
}

.list-bg {
  background-color: #f4f4f4;
  cursor: pointer;
}

.list-item {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.btn-nav {
  position: absolute;
  top: 20px;
  left: 15px;
  z-index: 1;
  background-color: #fff;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 55px;
  padding: 8px;
}

.map-size {
  height: 100vh;
}