<div class="page-layout carded  fullwidth inner-scroll">
  <div class="content">
    <mat-sidenav-container class="full-d-hsize">

      <mat-sidenav #sidenave class="sidenav-side" mode="side" [(opened)]="sideNaveOpened" fixedInViewport="true"
        fixedTopGap="65" fixedBottomGap="0">

        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <div class="logo mb-24 mb-md-0" fxFlex="70" fxLayoutAlign="start center">
            <div fxLayout="column">
              <div>
                <span class="logo-text h3">วันที่: </span>
                <span class="logo-text h5">{{titleDate}}</span>
              </div>
              <div>
                <span class="logo-text h3">ผู้ส่ง: </span>
                <span class="logo-text h5" *ngIf="orderData.carNo">{{orderData.carNo}}</span>
                <span class="logo-text h5" *ngIf="!orderData.carNo">ไม่เลือก</span>
              </div>
              <div *ngIf="orderData.docno">
                <span class="logo-text h3">เลขที่ใบสั่งงาน: </span>
                <span class="logo-text h5">{{orderData.docno}}</span>
              </div>
            </div>
          </div>
          <div fxFlex="30" class="text-center">
            <button mat-button color="warn" (click)="onSave()"
              [disabled]="!orderData.docdate">บันทึก</button>
          </div>
        </div>

        <div class="list-bg" *ngFor="let item of orderData.contactLists; let i = index">
          <div class="list-item">
            <div (click)="navigateByItem(item)">
              <div>
                ชื่อ: {{item.personalInfo.titleThai}}{{item.personalInfo.firstNameThai}}
                {{item.personalInfo.middleNameThai}} {{item.personalInfo.lastNameThai}}
              </div>
              <div>
                ที่อยู่: {{item.contactAddress.addressLine1}} {{item.contactAddress.addressStreet}}
                {{item.contactAddress.addressSubDistrict}} {{item.contactAddress.addressDistrict}}
                {{item.contactAddress.addressProvince}} {{item.contactAddress.addressCountry}}
                {{item.contactAddress.addressPostalCode}}
              </div>
              <div *ngFor="let contact of item.directContact">
                {{contact.method}}: {{contact.value}}
              </div>
              <div>
                ประเภท: <span *ngFor="let itemShip of item.membership; let i = index">
                  <span *ngIf="i > 0">, </span>
                  <span class="shareholder-color" *ngIf="itemShip.activity === 'shareholder'">ผู้ถือหุ้น</span>
                  <span class="delivery-color" *ngIf="itemShip.activity === 'delivery'">รถธรรมธุรกิจ</span>
                </span>
              </div>
              <div>
                Status: {{item.contactStatus}}
              </div>
            </div>
            <div class="mt-8">
              <button mat-flat-button class="btn-list-status color-s-btn" (click)="onChangeStatus('sendLine', i)">Send
                Line</button>
              <button mat-flat-button class="btn-list-status color-c-btn"
                (click)="onChangeStatus('confirm', i)">Confirm</button>
              <button mat-flat-button class="btn-list-status color-r-btn"
                (click)="onChangeStatus('reject', i)">Reject</button>
              <button mat-flat-button color="warn" (click)="onDeleteList(i)"
                [disabled]="item.contactStatus === 'confirm' || item.contactStatus === 'reject'">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

      </mat-sidenav>

      <mat-sidenav-content>

        <div class="btn-nav">
          <button mat-icon-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <div *ngIf="!sideNaveOpened">
            <button mat-icon-button class="btn-sort-contain" (click)="sidenave.toggle()">
              <mat-icon class="btn-size">arrow_right</mat-icon>
            </button>
          </div>
          <div *ngIf="sideNaveOpened">
            <button mat-icon-button class="btn-sort-contain" (click)="sidenave.toggle()">
              <mat-icon class="btn-size">arrow_left</mat-icon>
            </button>
          </div>
        </div>

        <div class="btn-nav2">
          <div>
            <span></span><span class="shareholder-color">ผู้ถือหุ้น</span>
          </div>
          <div>
            <span></span><span class="delivery-color">รถธรรมธุรกิจ</span>
          </div>
        </div>

        <agm-map class="map-size" (mapClick)="closeInfo()" [latitude]="lat" [longitude]="lng" [zoom]="zoom"
          [disableDefaultUI]="false" [zoomControl]="false">

          <agm-marker *ngFor="let markerItem of markersData; let i = index"
            (markerClick)="clickedInfoWindow(infoWindow)" [latitude]="markerItem.contactAddress.latitude"
            [longitude]="markerItem.contactAddress.longitude" [iconUrl]="markerItem.icon">

            <agm-info-window #infoWindow>
              <div class="h3">
                {{markerItem.personalInfo.titleThai}} {{markerItem.personalInfo.firstNameThai}}
                {{markerItem.personalInfo.lastNameThai}}
              </div>
              <div class="h4 mt-8">
                {{markerItem.contactAddress.addressLine1}} {{markerItem.contactAddress.addressStreet}}
                {{markerItem.contactAddress.addressSubDistrict}} {{markerItem.contactAddress.addressDistrict}}
              </div>
              <div class="h4">
                {{markerItem.contactAddress.addressProvince}} {{markerItem.contactAddress.addressPostalCode}}
              </div>
              <div class="mt-8 text-right">
                <button mat-flat-button color="primary" *ngIf="markerItem.contactStatus === ''"
                  (click)="clickedMarker(markerItem, i)">เลือก</button>
                <div *ngIf="markerItem.contactStatus !== ''">
                  ดำเนินการแล้วที่เอกสาร<span *ngIf="markerItem.docno === orderData.docno">นี้</span>
                  <span *ngIf="markerItem.docno !== orderData.docno"> {{markerItem.docno}}</span>
                </div>
              </div>
            </agm-info-window>

          </agm-marker>

        </agm-map>
      </mat-sidenav-content>

    </mat-sidenav-container>
  </div>
</div>