<div class="page-layout carded fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header accent" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }">
          format_list_numbered
        </mat-icon>
        <span class="logo-text h1" [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">
          รายการใบสั่งงาน
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-wrapper mx-32 mx-md-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input placeholder="ค้นหา" (keyup)="updateFilter($event)" />
        </div>
      </div>
      <!-- / SEARCH -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card" #tableWrapper>
      <ngx-datatable #table class="material fullscreen" [columnMode]="'flex'" [headerHeight]="64" [footerHeight]="64"
        rowHeight="auto" [scrollbarV]="true" [virtualization]="false" [scrollbarH]="true" [limit]="10" [rows]="rows" [externalPaging]="true" [externalSorting]="true"
        [reorderable]="true" [count]="page.count" [offset]="page.offset" [limit]="page.limit" [sortType]="'single'"
        (page)="pageCallback($event)" (sort)="sortCallback($event)">
        <ngx-datatable-column prop="docno" name="เลขที่ใบสั่งงาน" [flexGrow]="1.9">
          <ng-template ngx-datatable-cell-template let-row="row">
            {{ row.docno }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="docdate" name="วันที่" [flexGrow]="1.5">
          <ng-template ngx-datatable-cell-template let-row="row">
            {{ row.docdate | date:"dd/MM/yyyy" }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="carNo" name="รถที่รับผิดชอบ" [flexGrow]="3.6">
          <ng-template ngx-datatable-cell-template let-row="row">
            {{
              row.carNo.lisenceID
                ? "(" +
                  row.carNo.lisenceID +
                  ")" +
                  " " +
                  row.carNo.driverInfo.displayName
                : "ยังไม่ระบุ"
            }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="cusAmount" name="ทั้งหมด" [flexGrow]="1">
          <ng-template ngx-datatable-cell-template let-row="row">
            <div style="color: blue;">{{ row.cusAmount }}</div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="confirmCount" name="ยืนยัน" [flexGrow]="1">
          <ng-template ngx-datatable-cell-template let-row="row">
            <div style="color: green;">{{ row.confirmCount }}</div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="rejectCount" name="ปฏิเสธ" [flexGrow]="1">
          <ng-template ngx-datatable-cell-template let-row="row">
            <div style="color: red;">{{ row.rejectCount }}</div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="orderStatus" name="สถานะ" [flexGrow]="2.1">
          <ng-template ngx-datatable-cell-template let-row="row">
            <div *ngIf="row.orderStatus === 'draft'">จัดเส้นทาง</div>
            <div *ngIf="row.orderStatus === 'waitapprove'">รอยืนยัน</div>
            <div *ngIf="row.orderStatus === 'orderavailable'">
              ใบงานพร้อม
            </div>
            <div *ngIf="row.orderStatus === 'serviceprepared'">
              เตรียมการบริการ
            </div>
            <div *ngIf="row.orderStatus === 'ordercancel'">
              ยกเลิกใบงาน
            </div>
            <div *ngIf="row.orderStatus === 'golive'">กำลังให้บริการ</div>
            <div *ngIf="row.orderStatus === 'close'">จบบริการ</div>
            <div *ngIf="row.orderStatus === 'closewithcondition'">
              จบบริการ(ยกเลิก)
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="1">
          <ng-template ngx-datatable-cell-template let-row="row">
            <button class="mat-icon-button" aria-label="More" [matMenuTriggerFor]="moreMenu"
              (click)="$event.stopPropagation()">
              <mat-icon class="secondary-text">more_vert</mat-icon>
            </button>

            <mat-menu #moreMenu>
              <button mat-menu-item (click)="editData(row)" *ngIf="
                  row.orderStatus === 'draft' ||
                  row.orderStatus === 'waitapprove' ||
                  row.orderStatus === 'orderavailable' ||
                  row.orderStatus === 'serviceprepared'
                ">
                <mat-icon>edit</mat-icon>
                <span>แก้ไข</span>
              </button>
              <button mat-menu-item (click)="editData(row)" *ngIf="
                  row.orderStatus === 'golive' ||
                  row.orderStatus === 'close' ||
                  row.orderStatus === 'closewithcondition' ||
                  row.orderStatus === 'ordercancel'
                ">
                <mat-icon>edit</mat-icon>
                <span>ดูรายละเอียด</span>
              </button>
              <button mat-menu-item *ngIf="row.orderStatus === 'waitapprove'"
                (click)="changeStatusData(row, 'orderavailable')"
                [disabled]="row.cusAmount !== row.confirmCount + row.rejectCount || row.confirmCount === 0">
                <mat-icon>send</mat-icon>
                <span>สรุปใบงาน</span>
              </button>
              <button mat-menu-item *ngIf="
                  row.orderStatus === 'orderavailable' ||
                  row.orderStatus === 'serviceprepared' ||
                  row.orderStatus === 'golive' ||
                  row.orderStatus === 'close' ||
                  row.orderStatus === 'closewithcondition' ||
                  row.orderStatus === 'ordercancel'
                " (click)="changeStatusData(row, 'serviceprepared')">
                <mat-icon>print</mat-icon>
                <span>พิมพ์ใบสั่งงาน</span>
              </button>
              <button mat-menu-item (click)="onJoborderReport(row)">
                <mat-icon>pageview</mat-icon>
                <span>ดูรายงาน</span>
              </button>
              <button mat-menu-item *ngIf="
                  row.orderStatus === 'waitapprove' ||
                  row.orderStatus === 'orderavailable' ||
                  row.orderStatus === 'serviceprepared'
                " (click)="changeStatusData(row, 'ordercancel')">
                <mat-icon>block</mat-icon>
                <span>ยกเลิกใบงาน</span>
              </button>
              <button mat-menu-item *ngIf="row.orderStatus === 'draft'" (click)="deleteData(row)">
                <mat-icon>delete</mat-icon>
                <span>ลบใบงาน</span>
              </button>
            </mat-menu>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <!-- /CONTENT CARD -->
  </div>
  <!-- /CENTER -->
</div>
<!-- ADD CONTACT BUTTON -->
<button fxLayoutAlign="center center" class="mat-fab warn" id="add-button" aria-label="add" (click)="addData()">
  <mat-icon>add</mat-icon>
</button>
<!-- / ADD CONTACT BUTTON -->