<div class="page-layout carded  fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">
        <button class="mat-icon-button mr-0 mr-sm-16" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="logo-icon s-32 mr-16" [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }">
            edit
          </mat-icon>
          <span class="logo-text h1" [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">
            ข้อมูลรถ
          </span>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="40" class="pl-20  pr-16" fxLayoutAlign="end">
          <button [disabled]="vehicledataForm.invalid" mat-fab color="warn" (click)="onSave()">
            <mat-icon class="icon-position">save</mat-icon>
          </button>
        </div>
      </div>
      <!-- / APP TITLE -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">
      <!-- CONTENT -->
      <div class="content">
        <mat-tab-group fxFlex>
          <mat-tab label="ข้อมูลรถ">
            <form [formGroup]="vehicledataForm">
              <div fxLayout="column" fxLayout.gt-xs="row wrap" fxFlex="100">

                <div class="pl-20 pr-16 h1 pb-20 pt-20">
                  <mat-label>ข้อมูลรถ</mat-label>
                </div>

                <div fxLayout="row wrap" fxFlex="100" class="pt-20">
                  <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
                    <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                      <mat-label>ทะเบียนรถ</mat-label>
                      <input matInput formControlName="lisenceID" name="lisenceID">
                      <mat-error *ngIf="vehicledataForm.get('lisenceID').hasError('required')">
                        กรุณาระบุ ทะเบียนรถ
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
                    <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                      <mat-label>ประเภทรถ</mat-label>
                      <mat-select formControlName="vehicleType" name="vehicleType">
                        <mat-option *ngFor="let itemt of vehicleType" [value]="itemt.viewValue">
                          {{itemt.value}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="vehicledataForm.get('vehicleType').hasError('required')">
                        กรุณาระบุ ประเภทรถ
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div fxLayout="row wrap" fxFlex="100" class="pt-20">
                  <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
                    <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                      <mat-label>ยี่ห้อรถ</mat-label>
                      <mat-select formControlName="vehicleBrand" name="vehicleBrand">
                        <mat-option *ngFor="let itemt of vehicleBrand" [value]="itemt.viewValue">
                          {{itemt.value}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="vehicledataForm.get('vehicleBrand').hasError('required')">
                        กรุณาระบุ ยี่ห้อรถ
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
                    <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                      <mat-label>สีรถ</mat-label>
                      <mat-select formControlName="vehicleColor" name="vehicleColor">
                        <mat-option *ngFor="let itemt of vehicleColor" [value]="itemt.viewValue">
                          {{itemt.value}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="vehicledataForm.get('vehicleColor').hasError('required')">
                        กรุณาระบุ สีรถ
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <!-- {{vehicledataForm.value | json}}; -->

              </div>
            </form>
          </mat-tab>

          <mat-tab label="ข้อมูลเจ้าของรถ">
            <form [formGroup]="vehicledataForm">
              <div fxLayout="column" fxLayout.gt-xs="row wrap" fxFlex="100">

                <div class="pl-20 pr-16 h1 pb-20 pt-20">
                  <mat-label>ข้อมูลเจ้าของรถ</mat-label>
                </div>

                <div fxLayout="row wrap" fxFlex="100" class="pt-20">
                  <div fxLayoutAlign="start" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                      formControlName="isOwner" name="isOwner">
                      <mat-radio-button class="example-radio-button" *ngFor="let item of isOwner" [value]="item.value">
                        {{item.name}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>

                <div *ngIf="vehicledataForm.value.isOwner ==='false'" fxLayout="row wrap" fxFlex="100" class="pt-20">

                  <div class="pl-20 pr-16 h1 pb-20 pt-20">
                    <mat-label>ข้อมูลรายละเอียดเจ้าของรถ</mat-label>
                  </div>

                  <div fxLayout="row wrap" formGroupName="ownerInfo" fxFlex="100" class="pt-20">
                    <div fxLayoutAlign="start" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
                      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                        formControlName="isCompany" name="isCompany">
                        <mat-radio-button class="example-radio-button" *ngFor="let item of isCompany"
                          [value]="item.value">
                          {{item.name}}
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>

                  <div *ngIf="vehicledataForm.value.ownerInfo.isCompany ==='Individual'" fxLayout="row wrap"
                    formGroupName="ownerInfo" fxFlex="100" class="pt-20">
                    <div fxLayoutAlign="start" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
                      <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                        <mat-label>ชื่อเจ้าของรถ</mat-label>
                        <input matInput formControlName="firstName" name="firstName">
                        <mat-error *ngIf="vehicledataForm.get('ownerInfo').get('firstName').hasError('required')">
                          กรุณาระบุ ชื่อเจ้าของรถ
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
                      <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                        <mat-label>นามสกุลเจ้าของรถ</mat-label>
                        <input matInput formControlName="lastName" name="lastName">
                        <mat-error *ngIf="vehicledataForm.get('ownerInfo').get('firstName').hasError('required')">
                          กรุณาระบุ นามสกุลเจ้าของรถ
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div *ngIf="vehicledataForm.value.ownerInfo.isCompany ==='Legalentity'" fxLayout="row wrap"
                    formGroupName="ownerInfo" fxFlex="100" class="pt-20">
                    <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="100" class="pl-20 pr-16">
                      <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                        <mat-label>ชื่อ บริษัท</mat-label>
                        <input matInput formControlName="displayName" name="displayName">
                        <mat-error *ngIf="vehicledataForm.get('ownerInfo').get('displayName').hasError('required')">
                          กรุณาระบุ ชื่อ บริษัท
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div fxLayout="row wrap" formGroupName="ownerInfo" fxFlex="100" class="pt-20">
                    <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
                      <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                        <mat-label>เลขที่บัตรประจำตัวประชาชน หรือ เลขประจำตัวผู้เสียภาษี</mat-label>
                        <input matInput maxlength="13" minlength="13" formControlName="refId" name="refId">
                        <mat-error *ngIf="vehicledataForm.get('ownerInfo').get('refId').dirty">
                          กรุณาระบุ เลขที่บัตรประจำตัวประชาชน หรือ เลขประจำตัวผู้เสียภาษี
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
                      <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                        <mat-label>เบอร์โทรติดต่อ</mat-label>
                        <input matInput maxlength="10" minlength="10" formControlName="mobileNo1" name="mobileNo1"
                          placeholder="xxx-xxx-xxxx">
                        <mat-error *ngIf="vehicledataForm.get('ownerInfo').get('mobileNo1').hasError('required')">
                          กรุณาระบุ เบอร์โทรติดต่อ
                        </mat-error>
                        <mat-error *ngIf="vehicledataForm.get('ownerInfo').get('mobileNo1').dirty">
                          กรุณาระบุ เบอร์โทรติดต่อของท่านไม่ถูกต้อง
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div fxLayout="row wrap" formGroupName="ownerInfo" fxFlex="100" class="pt-20">
                    <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
                      <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                        <mat-label>เบอร์อื่น ๆ</mat-label>
                        <input matInput maxlength="10" minlength="10" formControlName="mobileNo2" name="mobileNo2"
                          placeholder="xxx-xxx-xxxx">
                        <mat-error *ngIf="vehicledataForm.get('ownerInfo').get('mobileNo2').hasError('required')">
                          กรุณาระบุ เบอร์โทรติดต่อ
                        </mat-error>
                        <mat-error *ngIf="vehicledataForm.get('ownerInfo').get('mobileNo2').dirty">
                          กรุณาระบุ เบอร์โทรติดต่อของท่านไม่ถูกต้อง
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
                      <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                        <mat-label>เบอร์อื่น ๆ</mat-label>
                        <input matInput maxlength="10" minlength="10" formControlName="mobileNo3" name="mobileNo3"
                          placeholder="xxx-xxx-xxxx">
                        <mat-error *ngIf="vehicledataForm.get('ownerInfo').get('mobileNo3').hasError('required')">
                          กรุณาระบุ เบอร์โทรติดต่อ
                        </mat-error>
                        <mat-error *ngIf="vehicledataForm.get('ownerInfo').get('mobileNo3').dirty">
                          กรุณาระบุ เบอร์โทรติดต่อของท่านไม่ถูกต้อง
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="pl-20 pr-16 h1 pb-20 pt-20">
                    <mat-label>ที่อยู่</mat-label>
                  </div>

                  <div fxLayout="row wrap" formGroupName="ownerInfo" fxFlex="100" class="pt-20">
                    <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="33.3" class="pl-20 pr-16">
                      <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                        <mat-label>บ้านเลขที่</mat-label>
                        <input matInput formControlName="addressLine1" name="addressLine1">
                        <mat-error *ngIf="vehicledataForm.get('ownerInfo').get('addressLine1').hasError('required')">
                          กรุณาระบุ บ้านเลขที่
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="33.3" class="pl-20 pr-16">
                      <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                        <mat-label>ถนน</mat-label>
                        <input matInput formControlName="addressStreet" name="addressStreet">
                        <mat-error *ngIf="vehicledataForm.get('ownerInfo').get('addressStreet').hasError('required')">
                          กรุณาระบุ ถนน
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="33.3" class="pl-20 pr-16">
                      <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                        <mat-label>รหัสไปรษณีย์</mat-label>
                        <input matInput maxlength="5" minlength="5" formControlName="addressPostCode"
                          name="addressPostCode" (keyup)="updateFilter($event)" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getPosts($event.option)'>
                          <mat-option *ngFor="let postcode of postcodesList.slice(0,10)" [value]="postcode.postcode">
                            <span>{{ postcode.postcode }}</span> |
                            <small>{{ postcode.subdistrict }}</small> |
                            <small>{{ postcode.district }}</small> |
                            <small>{{ postcode.province }}</small>
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="vehicledataForm.get('ownerInfo').get('addressPostCode').hasError('required')">
                          กรุณาระบุ รหัสไปรษณีย์
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div fxLayout="row wrap" formGroupName="ownerInfo" fxFlex="100" class="pt-20">
                    <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="33.3" class="pl-20 pr-16">
                      <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                        <mat-label>ตำบล/แขวง</mat-label>
                        <input matInput formControlName="addressSubDistrict" name="addressSubDistrict">
                        <mat-error
                          *ngIf="vehicledataForm.get('ownerInfo').get('addressSubDistrict').hasError('required')">
                          กรุณาระบุ ตำบล/แขวง
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="33.3" class="pl-20 pr-16">
                      <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                        <mat-label>อำเภอ/เขต</mat-label>
                        <input matInput formControlName="addressDistrict" name="addressDistrict">
                        <mat-error *ngIf="vehicledataForm.get('ownerInfo').get('addressDistrict').hasError('required')">
                          กรุณาระบุ อำเภอ/เขต
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="33.3" class="pl-20 pr-16">
                      <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                        <mat-label>จังหวัด</mat-label>
                        <input matInput formControlName="addressProvince" name="addressProvince">
                        <mat-error *ngIf="vehicledataForm.get('ownerInfo').get('addressProvince').hasError('required')">
                          กรุณาระบุ จังหวัด
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <!-- {{vehicledataForm.value | json}}; -->

                </div>
              </div>
            </form>
          </mat-tab>

        </mat-tab-group>
        <!--  -->
      </div>
      <!-- /CONTENT -->
    </div>
    <!-- /CONTENT CARD -->
  </div>
  <!-- /CENTER -->
</div>