.content .mat-tab-label {
  height: 64px;
}

.full-d-hsize {
  height: 100vh;
}

.sidenav-side {
  width: 30vw;
}

.btn-sort-contain {
  display: flex;
  justify-content: center;

  .btn-size {
    font-size: 40px;
    display: flex;
    justify-content: center;
  }
}

.list-bg {
  background-color: #f4f4f4;
}

.cursor {
  cursor: pointer;
}

.list-item {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.btn-list-status {
  margin-right: 3px;
  width: 90%;
  padding: 0px;
  text-align: center;
}

.color-s-btn {
  background-color: #0e7d0e !important;
  color: white !important;
}

.color-c-btn {
  background-color: #004eff !important;
  color: white !important;
}

.color-r-btn {
  background-color: #5d5d5d !important;
  color: white !important;
}

.btn-nav {
  position: absolute;
  top: 20px;
  left: 15px;
  z-index: 1;
  background-color: #fff;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 55px;
  padding: 8px;
}

.btn-nav2 {
  position: absolute;
  top: 126px;
  left: 15px;
  z-index: 1;
  background-color: #fff;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: auto;
  padding: 8px;
}

.map-size {
  height: 100vh;
}

.shareholder-color {
  color: blue;
}

.delivery-color {
  color: red;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}