<div class="page-layout carded fullwidth inner-scroll">
  <div class="content">
    <mat-sidenav-container class="full-d-hsize">
      <mat-sidenav
        #sidenave
        class="sidenav-side"
        mode="side"
        [(opened)]="sideNaveOpened"
        fixedInViewport="true"
        fixedTopGap="65"
        fixedBottomGap="0"
      >
        <div fxLayout="column" fxLayoutGap="1rem">
          <app-search-filters-data
            (search)="onSearchCustomer($event)"
            (selectProvinceChange)="onProvinceChange($event)"
            (selectDistrictChange)="onDistrictChange($event)"
            (selectConvenientChange)="onConvenientChange($event)"
            (checkOptionChange)="onCheckOptionChange($event)"
          > 

          </app-search-filters-data>
          <div>
            <div fxLayout="row wrap" fxLayoutAlign="start center">
              
              <div
                class="logo mb-24 mb-md-0"
                fxFlex="60"
                fxLayoutAlign="start center"
              >
                <div fxLayout="column">
                  <div>
                    <span class="logo-text h3">วันที่: </span>
                    <span class="logo-text h5">{{ titleDate }}</span>
                  </div>
                  <div>
                    <span class="logo-text h3">ทะเบียนรถ: </span>
                    <span class="logo-text h5">{{
                      joborderData.carNo.lisenceID || "ไม่ระบุ"
                    }}</span>
                  </div>
                  <div>
                    <span class="logo-text h3">คนขับ: </span>
                    <span class="logo-text h5">{{
                      joborderData.carNo.driverInfo
                        ? joborderData.carNo.driverInfo.displayName
                        : "ไม่ระบุ"
                    }}</span>
                  </div>
                  <div *ngIf="joborderData.docno">
                    <span class="logo-text h3">เลขที่ใบสั่งงาน: </span>
                    <span class="logo-text h5">{{ joborderData.docno }}</span>
                  </div>
                  <div *ngIf="joborderData.docno">
                    <span class="logo-text h3">สถานะ: </span>
                    <span class="logo-text h5">
                      {{ joborderData.orderStatus | thaiorderstatus }}
                    </span>
                    <!-- <span class="logo-text h5">{{
                      joborderData.orderStatus === "draft"
                        ? "จัดเส้นทาง"
                        : joborderData.orderStatus === "waitapprove"
                        ? "รอยืนยัน"
                        : joborderData.orderStatus === "orderavailable"
                        ? "ใบงานพร้อม"
                        : joborderData.orderStatus === "serviceprepared"
                        ? "เตรียมการบริการ"
                        : joborderData.orderStatus === "golive"
                        ? "กำลังให้บริการ"
                        : joborderData.orderStatus === "close"
                        ? "จบบริการ"
                        : "จบบริการ(ยกเลิก)"
                    }}</span> -->
                  </div>
                </div>
              </div>
              <div fxFlex="40" class="text-center">
                <!--พี่โก๋เอาออกเพราะทุก Action พี่โก๋ Save หมด-->
                <!-- <button mat-button color="warn" (click)="onSave()" *ngIf="!joborderData._id">
                                สร้าง
                            </button>
                            <button mat-button color="warn" (click)="onSave()" *ngIf="joborderData._id">
                                บันทึก
                            </button> -->

                <button
                  mat-button
                  color="warn"
                  (click)="openCarAndDate()"
                  *ngIf="
                    joborderData._id &&
                    joborderData.orderStatus !== 'golive' &&
                    joborderData.orderStatus !== 'close' &&
                    joborderData.orderStatus !== 'closewithcondition' &&
                    joborderData.orderStatus !== 'ordercancel'
                  "
                >
                  แก้ไขข้อมูลคนขับ
                </button>
              </div>
            </div>
          </div>
        </div>

        <div cdkDropList (cdkDropListDropped)="drop($event)">
          <div
            class="list-bg"
            cdkDrag
            *ngFor="let item of joborderData.contactLists; let i = index"
          >
            <div class="list-item">
              <div class="cursor" (click)="navigateByItem(item)">
                <div fxLayout="row">
                  <span fxFlex="85"> 
                    ชื่อ: {{ item.displayName }} 
                  </span>
                  <span fxFlex="15">
                    <strong>({{ i + 1 }}/{{ joborderData.contactLists.length }})</strong>
                  </span>
                  
                </div>
                <div>
                  ที่อยู่: {{ item.addressLine1 }}
                  {{ item.addressStreet }}
                  {{ item.addressSubDistrict }}
                  {{ item.addressDistrict }}
                  {{ item.addressProvince }}
                  {{ item.addressPostCode }}
                </div>
                <div *ngIf="item.mobileNo1">
                  เบอร์โทร1: {{ item.mobileNo1 }}
                </div>
                <div *ngIf="item.mobileNo2">
                  เบอร์โทร2: {{ item.mobileNo2 }}
                </div>
                <div *ngIf="item.mobileNo3">
                  เบอร์โทร3: {{ item.mobileNo3 }}
                </div>
                <div *ngIf="item.lineUserId">LineId: {{ item.lineUserId }}</div>
                <div>
                  ประเภท:
                  <span class="delivery-color">รถธรรมธุรกิจ</span>
                  <span class="shareholder-color" *ngIf="item.isShareHolder"
                    >, ผู้ถือหุ้น</span
                  >
                </div>
                <div>
                  สถานะ:
                  <span>
                     {{ item.contactStatus | thaicontactstatus }}
                  </span>
                  <!-- <span *ngIf="item.contactStatus === 'select'">เลือกแล้ว</span>
                  <span *ngIf="item.contactStatus === 'waitapprove'"
                    >รอตอบกลับ</span
                  >
                  <span *ngIf="item.contactStatus === 'waitcontact'"
                    >รอติดต่อ</span
                  >
                  <span *ngIf="item.contactStatus === 'confirm'">ยืนยัน</span>
                  <span *ngIf="item.contactStatus === 'reject'">ปฏิเสธ</span> -->
                </div>
                <div *ngIf="item.contactStatus === 'reject'">
                  เหตุผล: {{ item.remark }}
                </div>
              </div>
              <div
                class="mt-8"
                fxLayout="row wrap"
                fxLayoutAlign="start center"
                *ngIf="
                  joborderData.orderStatus !== 'golive' &&
                  joborderData.orderStatus !== 'close' &&
                  joborderData.orderStatus !== 'closewithcondition' &&
                  joborderData.orderStatus !== 'ordercancel'
                "
              >
                <div fxFlex="25" *ngIf="item.lineUserId">
                  <button
                    mat-flat-button
                    class="btn-list-status"
                    [ngClass]="{
                      'color-s-btn':
                        joborderData._id && item.contactStatus === 'select'
                    }"
                    (click)="onChangeStatus('sendLine', i)"
                    [disabled]="
                      !joborderData._id || item.contactStatus !== 'select'
                    "
                  >
                    Send Line
                  </button>
                </div>

                <div fxFlex="25" *ngIf="item.lineUserId">
                  <button
                    mat-flat-button
                    class="btn-list-status"
                    [ngClass]="{
                      'color-c-btn':
                        (joborderData._id &&
                          item.contactStatus === 'waitapprove') ||
                        item.contactStatus === 'confirm' ||
                        item.contactStatus === 'reject'
                    }"
                    (click)="onChangeStatus('confirm', i)"
                    [disabled]="
                      !joborderData._id || item.contactStatus === 'select'
                    "
                  >
                    Confirm
                  </button>
                </div>

                <div fxFlex="25" *ngIf="item.lineUserId">
                  <button
                    mat-flat-button
                    class="btn-list-status"
                    [ngClass]="{
                      'color-r-btn':
                        (joborderData._id &&
                          item.contactStatus === 'waitapprove') ||
                        item.contactStatus === 'confirm' ||
                        item.contactStatus === 'reject'
                    }"
                    (click)="onChangeStatus('reject', i)"
                    [disabled]="
                      !joborderData._id || item.contactStatus === 'select'
                    "
                  >
                    Reject
                  </button>
                </div>

                <div fxFlex="25" *ngIf="!item.lineUserId">
                  <button
                    mat-flat-button
                    class="btn-list-status"
                    [ngClass]="{ 'color-c-btn': joborderData._id }"
                    (click)="onChangeStatus('confirm', i)"
                    [disabled]="!joborderData._id"
                  >
                    Confirm
                  </button>
                </div>

                <div fxFlex="25" *ngIf="!item.lineUserId">
                  <button
                    mat-flat-button
                    class="btn-list-status"
                    [ngClass]="{ 'color-r-btn': joborderData._id }"
                    (click)="onChangeStatus('reject', i)"
                    [disabled]="!joborderData._id"
                  >
                    Reject
                  </button>
                </div>

                <div fxFlex="25">
                  <button
                    mat-flat-button
                    color="warn"
                    (click)="onDeleteList(i)"
                    [disabled]="
                      item.contactStatus === 'confirm' ||
                      item.contactStatus === 'reject'
                    "
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-sidenav>

      <mat-sidenav-content>
        <div class="btn-nav">
          <button mat-icon-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <div *ngIf="!sideNaveOpened">
            <button
              mat-icon-button
              class="btn-sort-contain"
              (click)="sidenave.toggle()"
            >
              <mat-icon class="btn-size">arrow_right</mat-icon>
            </button>
          </div>
          <div *ngIf="sideNaveOpened">
            <button
              mat-icon-button
              class="btn-sort-contain"
              (click)="sidenave.toggle()"
            >
              <mat-icon class="btn-size">arrow_left</mat-icon>
            </button>
          </div>
        </div>

        <div class="btn-nav2">
          <div>
            <span></span><span class="shareholder-color">ผู้ถือหุ้น</span>
          </div>
          <div>
            <span></span><span class="delivery-color">รถธรรมธุรกิจ</span>
          </div>
          <div>
            <span></span><span class="current-month">ลงทะเบียน เดือนปัจจุบัน</span>
          </div>
          <div>
            <span></span><span class="previous-month">ลงทะเบียน เดือนก่อน</span>
          </div>
        </div>

        <agm-map
          #agmMap
          class="map-size"
          (mapClick)="closeInfoWindow()"
          [latitude]="lat"
          [longitude]="lng"
          [zoom]="zoom"
          [disableDefaultUI]="false"
          [zoomControl]="false"
          (boundsChange)="onBoundsMapChange($event)"
        >
          <!-- <div *ngFor="let zone of polygonZone"> 
            <agm-polygon [paths]="zone.polygonPath" [clickable]="false">

            </agm-polygon> 
          </div> -->
          
          <div *ngFor="let markerItem of boundMarker; let i = index">
            <div *ngIf="isShowMarker(markerItem)">
              <agm-marker
                (markerClick)="openWindow(markerItem._id)"
                [latitude]="markerItem.latitude"
                [longitude]="markerItem.longitude"
                [iconUrl]="markerItem.icon"
              >
          
                <agm-info-window #infoWindow [isOpen]="isInfoWindowOpen(markerItem._id)" fxLayout="column">
                  <div class="h3 mt-16 ml-8 mr-8">
                    <strong>
                      {{ markerItem.title ? markerItem.title : "คุณ" }}
                      {{
                        markerItem.displayName
                          ? markerItem.displayName
                          : "ไม่ระบุ"
                      }}
                    </strong>
                  </div>
                  <div class="h4 mt-16 ml-8 mr-8">
                    {{ markerItem.addressLine1 }}
                    {{ markerItem.addressStreet }}
                    {{ markerItem.addressSubDistrict }}
                    {{ markerItem.addressDistrict }}
                    {{ markerItem.addressProvince }}
                    {{ markerItem.addressPostCode }}
                  </div>
                  <div class="h4 mt-16 ml-8 mr-8" *ngIf="markerItem.notes">
                    <div>
                      <strong>ข้อมูลเพิ่มเติม</strong>
                    </div>
                    <div style="white-space: pre-line;">
                      {{ markerItem.notes}}
                    </div>
                  </div>
                  <div class="mt-16 ml-8 mr-8" fxLayout="row">
                    <div class="h4" fxFlex="60" fxLayoutAlign="start center">
                      <span> วันที่ลงทะเบียน : </span>
                      <span>{{ markerItem.created | date:"dd/MM/yyy" }} </span>
                    </div>

                    <button
                      fxFlex="40"
                      mat-flat-button
                      color="primary"
                      *ngIf="
                        markerItem.contactStatus === '' &&
                        joborderData.orderStatus !== 'golive' &&
                        joborderData.orderStatus !== 'close' &&
                        joborderData.orderStatus !== 'closewithcondition' &&
                        joborderData.orderStatus !== 'ordercancel'
                      "
                      (click)="clickedMarker(markerItem, i)"
                    >
                      เลือก
                    </button>
                    <div *ngIf="markerItem.contactStatus !== ''" fxFlex="40">
                      ดำเนินการแล้วที่เอกสาร
                      <span *ngIf="markerItem.docno === joborderData.docno"
                        >นี้</span
                      >
                      <span *ngIf="markerItem.docno !== joborderData.docno">
                        {{ markerItem.docno }}
                      </span>
                    </div>
                  </div>
                    <div class="mt-16 ml-8 mr-8" fxLayout="row">
                      <div class="h4 mr-8" fxLayoutAlign="start center">
                          วันที่สะดวกรับบริการ :  
                      </div>
                      <div class="mr-8" *ngFor="let d of convenientDayList">
                        <mat-checkbox [checked]="markerItem.convenientDay[d.weekDay]"
                          [disableRipple]="true"
                          (click)="$event.preventDefault()"
                        >
                          {{d.displayDay}}
                        </mat-checkbox>
                      </div>
                    </div>
                  <div class="mt-16 ml-8 mr-8" fxLayout="column">
                    <div class="h4">
                      <mat-checkbox 
                        name="chkHistory"
                        #chkHistory 
                        (click)="onShowHistory(chkHistory, markerItem)"
                      >
                        แสดงประวัติการให้บริการ
                      </mat-checkbox>
                 </div>
          
                    <!-- Show/Hide Histroy content -->
                    <div *ngIf="chkHistory.checked" id="history-container" fxLayout="column">
                      <div *ngIf="markerItem?.jobHistory?.length == 0">
                        <span><strong>ไม่มีประวัติการให้บริการ</strong></span>
                      </div>
                      <div *ngIf="markerItem?.jobHistory?.length > 0">
                        <div fxLayout="row" id="history-header">
                          <span fxFlex="20%" class="history-content"><strong>เลขที่</strong></span>
                          <span fxFlex="15%" class="history-content"><strong>วันที่</strong></span>
                          <span fxFlex="20%" class="history-content"><strong>สถานะ</strong></span>
                          <span fxFlex="15%" class="history-content"><strong>ยอดขาย</strong></span>
                          <span fxFlex="30%" class="history-content"><strong>เหตุผลยกเลิก</strong></span>
                        </div>
                        <div *ngFor="let historyItem of markerItem.jobHistory" id="history-list" fxLayout="row">
                          <span fxFlex="20%" class="history-content" style="text-align: center;">
                            {{historyItem.docno}}
                          </span>
                          <span fxFlex="15%" class="history-content" style="text-align: center;">
                            {{historyItem.docdate | date:"dd/MM/yyyy"}}
                          </span>
                          <span fxFlex="20%" class="history-content" style="text-align: center;">
                            {{historyItem.contactLists.contactStatus | thaicontactstatus}}
                          </span>
                          <span fxFlex="15%" class="history-content" style="text-align: right;">
                            {{ (historyItem?.contactLists.sales ? historyItem?.contactLists.sales : 0) | number:"1.2-2" }}
                          </span>
                          <span fxFlex="30%" class="history-content">
                            {{historyItem?.contactLists.remark}}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </agm-info-window> 
              </agm-marker>
            </div>
          </div>
        </agm-map>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
